.container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    width: 30vw;
    min-width: 200px;
    aspect-ratio: 1/2;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(165, 221, 221);
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 20px;
    /* aspect-ratio: 8/1;  */
    width: 100%;
    height: 8%;
    background-color: lightgrey;
}