p {
 display: flex;
 font-size: 100 px;
 justify-content: center;
 margin: 10px auto;
 width: 30%;
 font-weight: bold;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 color: rgb(0, 0, 39);
 background-color: beige;
}
.container {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    width: 30vw;
    min-width: 200px;
    /* aspect-ratio: 1/2; */
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(165, 221, 221);
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 70px;
    color: rgb(47, 47, 47);
    /* font-family: 'Source Sans Pro', monospace; */
    padding: 3px;
    /* aspect-ratio: 8/1;  */
    width: 100%;
    height: 8%;
    background-color: lightgrey;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
}

.operator {
    background-color: rgb(216, 175, 255);
}

.digit,
.operator {
    width: 20%;
    aspect-ratio: 1/1;
    margin: 5px;
    font-size: 60px;
    min-width: max-content;
}

.clear {
    background-color: brown;
    color: azure;
}

button {
  transition: transform 0.15s ease;
}
button:hover {
  transform: scale(1.05);
}